
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(52, 73, 94);
}

.container{
  width: 940px;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
}

h1, h2{
  text-align: center;
  margin: 0.3em auto;

  color: #000;
}

h1{
  font-size: 5em;

  border-bottom: 1px solid #FFF;
  width: 50%
}

.texto-padrao{
  color: #FFF;

  font-size: 1.4em;
  font-style: italic;
  text-align: justify;
}

h2{
  font-size: 2em;
}

.elements{
  font-size: 1.4em;
  text-align: center;

  margin: 0.3em auto;
  padding: 2em;

  border-radius: 1em;
  transition: 1s;
}

input{
  width: 50%;
  border: 1px solid rgb(18,75,113);
}

input:hover{
  width: 30%;

  background-color: rgb(18,75,113);
  border-color: #FFF;
  
  opacity: 70%;
}

button{
  width: 30%;
  font-size: 1em;

  border: 1px solid #FFF;
  background: rgb(18,75,113);
  color: #FFF;

  cursor: pointer;
}

button:hover{
  width: 50%;

  border-color: rgb(18,75,113);
  background: #FFF;
  color: #000;
}
